body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.div-frame{
	margin: 0;
	padding: 0;
	height: 99%;
	width: 99%;
	background-color:ivory;
	position: relative;
	
}

.div-title{
	text-align: center;
	background-color: aliceblue;
	padding: 10px;
	color: teal;
	border-bottom: 1px solid goldenrod;
	}

.div-body{
	margin: 30px auto;
	width: 80%;
}

.footer-style{
	border-top: 1px solid goldenrod;
	padding: 20px;
	height:15%;
	width: 100%;
	background-color: aliceblue;
	position: absolute;
	bottom: 0;
	/*margin-top: 50px;*/
}

.input-body{
	height: 30px;
	width: 100%;
	background-color: lemonchiffon;
	border: solid 1px gainsboro ;
}

.input-body:focus {
	outline-color: #F0AD4E;
	/*border: solid 1px ;*/
	background: aliceblue;
}
.btn-body{
	/*margin-top: 10px;*/
	border: none ;
	height: 30px;
	width: 50px;
	color: white;
	background-color: royalblue;
}
.btn-body:active{
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
	background-color: skyblue;
}
.btn-body:hover{
	cursor: pointer;
}
